@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
li,
button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

/* ? header start */

.container {
  max-width: 70%;
  margin: 0 auto;
}

nav {
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mt-nav {
  margin-top: 54px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul:nth-child(2) {
  width: 36%;
}
nav ul:nth-child(2) li:hover {
  text-decoration: underline;
  text-decoration-color: #6e9c9f;
}
nav strong {
  font-weight: 700;
  color: #6e9c9f;
}
nav ul:last-child {
  width: 22.9%;
}
nav div {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_phone img {
  padding: 5px;
}

.head__left {
  max-width: 50%;
  margin-top: 186px;
}
.head__left h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 3.15rem;
  line-height: 110%;
  letter-spacing: 0.01em;
}

.head__left p {
  margin-top: 45px;
  width: 68%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 28px */
  text-align: right;
  letter-spacing: 0.02em;
  color: #000000;
}
.head__left div {
  display: flex;
  width: 68%;
  justify-content: flex-end;
  margin-top: 52px;
}

.head__left img {
  width: 14px;
  height: 29px;
  background: rgba(110, 156, 159, 0.1);
  padding: 19.5px 26.5px;
}
.head__left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px 50px;
  width: 243px;
  height: 68px;
  background: #6e9c9f;
  border: none;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.head__right {
  position: absolute;
  width: 44rem;
  height: 51.6rem;
  background-color: #f1eadc;
  top: 0;
  right: 0;
  z-index: -1;
}

#middle-photo {
  position: absolute;
  width: 190px;
  height: 318px;
  left: -11%;
  top: 61.5%;
  z-index: 2;
}

#big-photo {
  position: absolute;
  width: 410px;
  height: 646px;
  left: 8%;
  top: 15%;
  z-index: 1;
}

#little-photo {
  position: absolute;
  width: 197px;
  height: 197px;
  left: 52%;
  top: 30%;
  z-index: 2;
}

/* todo header finish */

/* ! Azamat */
/* freshblood start */
.freshBlood {
  margin-top: 300px;
  margin-left: 190px;
}
.freshBlood h2 {
  /* Заголовок h2 */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}
.newCards {
  margin-top: 92px;
  display: flex;
  width: 1110px;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 558px;
}
.card h4 {
  /* Заголовок h4 */
  margin-top: 24px;
  display: inline;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.card span {
  /* Цена в карточке товара */
  margin-top: 7px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #998e78;
}
.card div {
  margin-top: 28px;
}
.openShop {
  margin-top: 65px;
  /* display: flex; */
  padding: 0 400px;
}
.openShop button {
  margin: 0 auto;
  width: 243px;
  height: 68px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6e9c9f;
  background-color: white;
  border: 1px solid #6e9c9f;
}
/* !  End Azamat */
/* !  Start Jora */
.info-container h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.02em;
}

.info-container {
  margin: 130px 190px;
}

.info {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 75px;
}

.info-list h4 {
  margin-top: 37px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.02em;
}

.info-list p {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/*!  End Jora */

/* ! Slider Dream Team  Start     made by Emil && Roma */

.conSlider {
  margin-top: 130px;
  margin-bottom: 100px;
  max-width: 1200px;
  /* background-color: #6e9c9f; */
}
.conSlider h2 {
  margin-left: 70px;
  margin-bottom: 92px;
  font-size: 40px;
}
.sliderBlock {
  display: flex;
  /* background-color: rgb(8, 83, 58); */
}

.sliderBlock_text {
  margin: 78px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.sliderBlock_text h3 {
  font-size: 25px;
}
.sliderBlock_text p {
  font-size: 17px;
}
.sliderBlock_text a {
  font-size: 17px;
  color: #6e9c9f;
}
.sliderBlock_image {
  display: flex;
  align-items: center;
}

.slider_btn_left {
  width: 28px;
  height: 16px;
  background-color: #ffffff;

  margin: 0 10px;
  border: none;
  background-image: url(../images/Vector\ left.svg);
}
.slider_btn_right {
  width: 28px;
  height: 16px;
  background-color: #ffffff;

  margin: 0 10px;
  border: none;
  background-image: url(../images/Vector\ right.svg);
}

/* ! Slider Dream Team  Finish   made by Emil && Roma */
/* ! Footer start Nil */

footer {
  background-color: #f1eadc;
}
.wrapper {
  padding: 100px 210px;
  display: flex;
}
.text_politics {
  padding-top: 60px;
  height: 65px;
}
.footer_links {
  display: flex;
  width: 380px;
  justify-content: space-between;
  padding-left: 80px;
}
.wrapper p {
  margin: 0;
  padding: 0;
}
.text_politics p {
  padding: 8px 0;
  font-size: 13px;
}

.clothes {
  padding-top: 40px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_links p:hover {
  color: #6e9c9f;
  cursor: pointer;
  /* font-size: 15px;
  font-weight: bold; */
}

.block_2 {
  padding-left: 180px;
  text-align: end;
}
.clothes p {
  font-size: 13px;
}
.social {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 30px;
}
.img_master {
  padding-top: 30px;
}
.block_2 p:nth-child(2) {
  padding-top: 10px;
}
/* ! end Nil */
