.add-block {
  margin-top: 140px;
}

.main-cards {
  margin-top: 200px;
  margin-bottom: 130px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-profile {
  width: 350px;
  height: 658px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-profile img {
  width: 100%;
  height: 85%;
}

.card-profile h4 {
  margin: 24px 0 7px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.card-profile span {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #998e78;
  margin-bottom: 10px;
}

/* start modal */
body {
  position: relative;
  /* нужно onclick на модалку задать body  */

  /* background-color: rgba(0, 0, 0, 0.336); */
}
#modal {
  /* display: flex; */
  display: none;
  width: 1000px;
  height: 700px;
  max-width: 70%;
  margin: 25px auto;
  border: 1px solid #998e78;
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: #fff;
}

#modalLeft {
  width: 50%;
  height: 100%;
}

#modal-r {
  margin-top: 20px;
}

#modalRight {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 64px;
  padding-right: 60px;
  margin-top: 30px;
}

#modalRight h2 {
  font-size: 55px;
  margin: 0px;
}

#modalRight h3 {
  font-weight: 500;
  font-size: 40px;
  color: #998e78;
  margin: 15px 0;
}

#modalRight p {
  margin-bottom: 80px;
  font-size: 20px;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.buyBtn:hover {
  background-color: #fff;
  color: #6e9c9f;
  border: 2px solid #6e9c9f;
  transition: 0.3s;
}

.buyBtn {
  padding: 22px 50px;
  background: #6e9c9f;
  width: 180px;
  height: 65px;
  border: none;
  border-radius: 10px;
  color: white;
}

#closeBtn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  width: 30px;
  margin-left: 450px;
  color: #4e3a14;
}
#icons {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 250px;
}
#icons img {
  width: 35px;
  height: 35px;
}
